body {
  font-family: "Sora", sans-serif;
}

.hide-on-load {
  display: none;
}

.justified {
  text-align: justify;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  display: none;
}

.navbar-shrink {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: padding 0.3s ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.masthead {
  height: 50em;
}

.joindre {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.joindre a {
  margin: 10px;
  color: white;
  text-decoration: none;
  transition: 400ms;
}

.joindre a:hover {
  color: #ffab07;
  transform: scale(1.14);
}

.devweb {
  animation-name: devBouge;
  animation-duration: 3.5s;
}

.project-list {
  justify-content: center;
}

#portfolio .img-fluid {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

#portfolio .portfolio-caption {
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.portfolio-item {
  position: relative;
  z-index: 1;
}

.overlayVideo,
.overlayMore {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

#portfolio .overlayVideo,
#portfolio .overlayMore {
  z-index: 10;
}

#portfolio {
  background-color: #f7f1e3;
}

.techSkills {
  margin: 10px;
  transition: transform 0.3s;
}

.techSkills:hover {
  transform: scale(1.3);
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
}

.video_mobile {
  width: 30%;
  height: 84%;
}

.video_web {
  width: 70%;
  height: 70%;
}

.moreContent {
  font-size: 17px;
  background-color: white;
  border-radius: 20%;
  padding: 30px;
  min-height: 35%;
  width: 400px;
  max-width: 100%;
  margin: auto;
  margin-top: 150px;
}

.portfolio-caption {
  min-height: 10rem;
}

@keyframes devBouge {
  0% {
    transform: translate(5000px);
  }
  50% {
    transform: translate(4900px);
  }
  100% {
    transform: translate(0px);
  }
}

@media screen and (max-width: 768px) {
  .listSkills {
    justify-content: flex-start;
  }
  .video_mobile {
    width: 95%;
  }

  .video_web {
    width: 95%;
  }
}

@media screen and (max-width: 445px) {
  .devweb {
    font-size: 30px;
  }

  .intro-heading {
    animation-name: devBouge;
    animation-duration: 3.5s;
  }
}
