.masthead {
  height: 50em;
}

.listSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.listSkills div {
  background-color: #ffab07;
  border-radius: 15px;
  margin: 5px 0 5px 5px;
  padding: 10px 15px;
  text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.35);
}

.listSkills div:hover {
  background-color: #ffc042;
}

.joindre {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.joindre a {
  margin: 10px;
  color: white;
  text-decoration: none;
  transition: 400ms;
}

.joindre a:hover {
  color: #ffab07;
  transform: scale(1.14);
}

.savoirplus {
  transform: scale(1);
  transition: 800ms;
}

.savoirplus:hover {
  transform: scale(1.1);
}
.devweb {
  animation-name: devBouge;
  animation-duration: 3.5s;
}

.project-list {
  justify-content: center;
}

#portfolio .img-fluid {
  border-radius: 40px 0 0 0; /* Vous pouvez ajuster la valeur selon vos préférences */
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.1), 4px -4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Pour s'assurer que l'ombre est bien visible */
}

#portfolio .portfolio-caption {
  border-radius: 0 0 40px 0; /* Vous pouvez ajuster la valeur selon vos préférences */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Pour s'assurer que l'ombre est bien visible */
}

#overlayVideo1 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayVideo2 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayVideo4 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayVideo5 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayVideo6 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayVideo7 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayVideo8 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayMore1 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayMore2 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayMore3 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayMore4 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayMore5 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayMore6 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayMore7 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#overlayMore8 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  cursor: pointer;
}

#portfolio {
  background-color: #f7f1e3;
}

.techSkills {
  margin: 10px;
  transition: transform 0.3s;
}

.techSkills:hover {
  transform: scale(1.3);
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.video_mobile {
  width: 30%;
  height: 84%;
}

.video_web {
  width: 70%;
  height: 70%;
}

.moreContent {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  font-size: 17px;
  background-color: white;
  /* transform: translate(-50%,-50%); */
  /* -ms-transform: translate(-50%,-50%); */
  /* min-width:10%;
    min-height: 20%; */
  border-radius: 20%;
  padding: 30px;
  min-height: 35%;
  width: 400px;
  max-width: 100%;
  margin: auto;
  margin-top: 150px;
}

.portfolio-caption {
  min-height: 10rem;
}

@keyframes devBouge {
  0% {
    transform: translate(5000px);
  }
  50% {
    transform: translate(4900px);
  }
  100% {
    transform: translate(0px);
  }
}

@media screen and (max-width: 768px) {
  .listSkills {
    justify-content: flex-start;
  }
  .video_mobile {
    width: 95%; /* Ajustez la largeur selon vos besoins pour les petits écrans */
  }

  .video_web {
    width: 95%; /* Ajustez la largeur selon vos besoins pour les petits écrans */
  }
}

@media screen and (max-width: 445px) {
  .devweb {
    font-size: 30px;
  }

  .intro-heading {
    animation-name: devbouge;
    animation-duration: 3.5s;
  }

  @keyframes devbouge {
    0% {
      transform: translate(500px);
    }
    50% {
      transform: translate(490px);
    }
    100% {
      transform: translate(0px);
    }
  }
}
